/venv/*                                                           
Activity 6. Numerical Analysis with NumPy.ipynb                                   
Activity11.ipynb                                                                  
Activity_6_Choosing_our_right_setup.ipynb                                         
Activity_7_Programming_a_Perceptron_from_Scratch (1).ipynb                        
Activity_8.ipynb                                                                  
Airbnb_python.ipynb                                                                                                                            
Boston_housing.csv                                                                
brain_tumor_dataset-1.xlsx                                                        
Classwork1 (2).ipynb                                                              
Classwork2.ipynb                                                                  
Classwork3-1.ipynb                                                                
Classwork4.ipynb                                                                  
Classwork5.ipynb                                                                  
Classwork6.ipynb                                                                  
Classwork7.ipynb                                                                  
DatosAutos.csv                                                                    
dir.txt                                                                           
imdb_data.csv                                                                     
imdb_eda.ipynb                                                                    
Interactive Reading 4. Simple Linear Regression.ipynb                             
iphone_sales_dataset.csv                                                          
iris.csv                                                                          
KeyActivity.ipynb                                                                 
Lab1A.ipynb                                                                       
Lab1B.ipynb                                                                       
Lab3A.ipynb                                                                       
nyc_taxi_data.csv                                                                 
ObesityDataSet_raw_and_data_sinthetic.csv                                         
sales_data_types.csv                                                              
sellers.xlsx                                                                      
Streamlit.ipynb                                                                   
streamlitsample.ipynb                                                                                                  
Week 1. Interactive Reading 1. Statistics.ipynb                                   
Week 2. Interactive Reading 2. Data Visualization.ipynb                           
Week 2. Interactive Reading 3. Data Wrangling.ipynb                               
winequality-red.csv                                                               
winequality-white.csv                                                             
